/* var */
:root {
  --header-anchor-symbol: "🔗";
}

/* 根元素
  <html>
 */
html {
  /* filter: grayscale(1); */
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body,
button,
input,
label,
select,
textarea {
  padding: 0;
  margin: 0;
}

/* 章节
  <body> <section> <nav> <article> <aside> <h1*6> <header> <footer> <address> <main>
 */
body,
button {
  line-height: 1.75;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 60px auto 30px;
  line-height: 1.25;
  text-align: center;
  width: fit-content;
}

h1 {
  font-weight: 900;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h3,
h4,
h5,
h6 {
  text-align: left;
}

.main .title h1 {
  margin: 0 auto 40px;
}

.title h3 {
  font-weight: 400;
  text-align: center;
}

main {
  display: block;
}

/* 组织内容
  <p> <hr> <pre> <blockquote> <ol> <ul> <li> <dl> <dt> <dd> <figure> <figcaption> <div>
 */
p {
  margin-block-start: 12px !important;
  margin-block-end: 24px !important;
  hyphens: auto;
  line-height: 1.5;
  text-align: justify;
  text-indent: 2em;
}

pre {
  margin: 0;
}

blockquote {
  padding: 0 2em;
  margin: 1em 0;
}

.home blockquote {
  border-left-color: transparent;
}

ol,
ul {
  padding: 0 0 0 20px;
}

li {
  padding: 0;
  margin: 4px 0;
}

.resume-basics-box ul {
  margin: 0;
}

.resume-basics-box ul:first-child {
  margin: 0 24px 0 0;
}

.masthead .menu ul ul {
  margin-right: 10px;
  margin-left: 10px;
  list-style: none;
}

.masthead .menu li li::before {
  content: "•\00a\000a0\00a0";
}

figure.image,
figure[data-type="image"] {
  margin: 0;
  text-align: center;
}

figcaption.image-description,
figure[data-type="image"] figcaption {
  margin: 0;
  line-height: 17px;
  text-align: center;
  opacity: 0.7;
}

/* 文字形式
  <a> <em> <strong> <small> <s> <cite> <q> <dfn> <abbr> <time> <code> <var> <samp> <kbd>
  <sub> <sup> <i> <b> <u> <mark> <ruby> <rt> <rp> <bdi> <bdo> <span> <br> <wbr>
 */

div[class*="language-"] {
  position: relative;
  margin: 16px -24px;
  background-color: var(--code-block-bg);
  overflow-x: auto;
  overflow-y: hidden;
  transition: background-color 0.5s;
}

@media (min-width: 640px) {
  div[class*="language-"] {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  li div[class*="language-"] {
    border-radius: 8px 0 0 8px;
  }
}

div[class*="language-"] + div[class*="language-"],
div[class$="-api"] + div[class*="language-"],
div[class*="language-"] + div[class$="-api"] > div[class*="language-"] {
  margin-top: -8px;
}

[class*="language-"] pre,
[class*="language-"] code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

[class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
}

[class*="language-"] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: 1.7;
  font-size: var(--code-font-size);
  font-family: var(--font-family-mono);
  transition: color 0.5s;
}

[color-scheme="dark"] [class*="language-"] code span {
  color: var(--shiki-dark, inherit);
}

[color-scheme="light"] [class*="language-"] code span {
  color: var(--shiki-light, inherit);
}

[class*="language-"] code .highlighted {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

[class*="language-"] code .highlighted.error {
  background-color: rgba(244, 63, 94, 0.2);
}

[class*="language-"] code .highlighted.warning {
  background-color: rgba(234, 179, 8, 0.2);
}

[class*="language-"] code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

[class*="language-"] code .diff::before {
  position: absolute;
  left: 10px;
}

[class*="language-"] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition: filter 0.35s, opacity 0.35s;
}

[class*="language-"] .has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition: filter 0.35s, opacity 0.35s;
}

[class*="language-"]:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

[class*="language-"] code .diff.remove {
  background-color: rgba(244, 63, 94, 0.2);
  opacity: 0.7;
}

[class*="language-"] code .diff.remove::before {
  content: "-";
  color: #f43f5e;
}

[class*="language-"] code .diff.add {
  background-color: rgba(16, 185, 129, 0.2);
}

[class*="language-"] code .diff.add::before {
  content: "+";
  color: #10b981;
}

div[class*="language-"].line-numbers-mode {
  padding-left: 32px;
}

.line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-right: 1px solid var(--code-line-numbers-color);
  padding-top: 20px;
  width: 32px;
  text-align: center;
  line-height: 1.7;
  font-size: var(--code-font-size);
  color: #6c6c70;
  transition: border-color 0.5s, color 0.5s;
}

[class*="language-"] > button.copy {
  direction: ltr;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: #1e1e20;
  opacity: 0;
  cursor: pointer;
  font-family: var(--font-family-mono);
  background-image: var(--icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

[class*="language-"]:hover > button.copy,
[class*="language-"] > button.copy:focus {
  opacity: 1;
}

[class*="language-"] > button.copy:hover,
[class*="language-"] > button.copy.copied {
  border-color: #2e2e31;
  background-color: #1e1e20;
}

[class*="language-"] > button.copy.copied,
[class*="language-"] > button.copy:hover.copied {
  border-radius: 0 4px 4px 0;
  background-color: #1e1e20;
  background-image: var(--icon-copied);
}

[class*="language-"] > button.copy.copied::before,
[class*="language-"] > button.copy:hover.copied::before {
  position: relative;
  top: -1px;
  left: -65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2e2e31;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  width: 64px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: rgba(235, 235, 245, 0.6);
  background-color: #1e1e20;
  white-space: nowrap;
  content: "Copied";
}

[class*="language-"] > span.lang {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-family: var(--font-family-mono);
  font-weight: 400;
  color: #6c6c70;
  transition: color 0.4s, opacity 0.4s;
}

[class*="language-"]:hover > button.copy + span.lang,
[class*="language-"] > button.copy:focus + span.lang {
  opacity: 0;
}

a {
  padding-bottom: 2px;
  font-weight: 900;
  text-decoration: none;
}

a.list {
  display: block;
  padding: 16px;
  margin-bottom: 16px;
}

a.list .date {
  float: right;
}

sup a {
  letter-spacing: initial;
}

hr,
sup a {
  padding: 0;
}

.copyright a {
  padding: 0;
}

.basicInfo + p > a {
  font-weight: 100;
}

hr {
  display: block;
  max-width: 300px;
  height: 1px;
  margin: 50px auto;
  border: 0;
  border-top: 1px solid;
}

.home hr {
  margin: 2em auto 1em;
}

.masthead .menu a {
  direction: ltr;
}

/* 编辑
  <ins> <del>
 */
ins {
  text-decoration: none;
}

/* 嵌入内容
  <img> <iframe> <embed> <object> <param> <video> <audio> <source> <track> <canvas> <map>
  <area> <area> <map> <svg> <math>
 */
img {
  max-width: 100%;
  border-radius: 0;
}

/* img::before {
   content: '';
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #f0f3f9;
 }

 img::after {
   content: '图片信息：'attr(alt);
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   line-height: 30px;
   background-color: rgba(0, 0, 0, .5);
   color: white;
   font-size: 14px;
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 } */

.masthead img {
  max-width: 166px;
}

iframe,
video {
  display: block;
  max-width: 100%;
  margin: auto;
}

/* 表格
  <table> <caption> <colgroup> <col> <tbody> <thead> <tfoot> <tr> <td> <th>
 */
table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

/* 表单
  <form> <fieldset> <legend> <label> <input> <button> <select> <datalist> <optgroup> <option>
  <select> <textarea> <keygen> <output> <progress> <meter>
 */

button {
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

/* 交互元素
  <details> <summary> <menuitem> <menu>
 */

/* 选择器 class id  */
.list .summary {
  text-indent: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-block-start: 12px !important;
  margin-block-end: 0px !important;
}

.header-anchor {
  float: right;
  margin-right: -0.87em;
  padding-right: 0.23em;
  font-weight: 400;
  user-select: none;
  opacity: 0;
  transition: color 0.25s, opacity 0.25s;
}

h1:hover .header-anchor,
h1 .header-anchor:focus,
h2:hover .header-anchor,
h2 .header-anchor:focus,
h3:hover .header-anchor,
h3 .header-anchor:focus,
h4:hover .header-anchor,
h4 .header-anchor:focus,
h5:hover .header-anchor,
h5 .header-anchor:focus,
h6:hover .header-anchor,
h6 .header-anchor:focus {
  opacity: 1;
}

a.header-anchor:hover {
  border-bottom: none;
}

.header-anchor:before {
  content: var(--header-anchor-symbol);
}

.ie.copyright {
  position: fixed;
  bottom: 0.5em;
  width: 245px;
}

.copyright {
  text-align: center;
}

.copyright .svg-link {
  border: none !important;
}

.copyright svg {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  margin-left: 5px;
}

.copyright .version {
  width: 100px;
  height: 17px;
  vertical-align: middle;
}

.copyright .travelling {
  width: 72px;
  height: 17px;
}

.copyright .github {
  width: 17px;
  height: 17px;
}

.copyright .beian {
  display: inline-block;
  height: 20px;
  font-weight: 100;
  line-height: 20px;
}

.copyright .beian img {
  height: 17px;
  margin-left: 5px;
  vertical-align: text-bottom;
}

.copyright .beian a {
  vertical-align: baseline;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  /* margin-top: 25px; */
  font-weight: 900;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

.ie.paramount {
  width: 300px !important;
}

.paramount {
  width: 1220px;
  padding: 30px 0;
  margin: 0 auto;
}

.masthead {
  float: left;
  width: 260px;
  padding: 20px 50px 20px 10px;
}

.main {
  width: 700px;
  min-height: calc(100vh - 60px);
  padding: 32px 10px 20px 50px;
  margin-left: 260px;
  hyphens: manual;
}

.masthead .menu {
  margin-right: 20px;
  direction: rtl;
}

/* .menu {
   transition: all .5s ease;
 } */

.main,
.masthead {
  padding: 1em 40px;
}

.home .wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.highlight div {
  background-color: initial !important;
}

/* pre .nohighlight {
   background-color: transparent;
 } */

/* #Msg {
   padding: .5em;
   width: 100%;
   border: 1px dashed;
 } */

.hljs-comment {
  font-style: inherit;
}

.hljs {
  padding: 1em;
}

.slogan {
  display: block;
}

.print,
.print-li {
  display: none;
}

#eof::before {
  margin-right: 10px;
  content: "";
}

#eof::after {
  /* margin-left: 10px; */
  content: "";
}

#eof {
  /* margin: 2em auto; */
  font-weight: 100;
  line-height: 1em;
  text-align: center;
}

.edit-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.edit-info-line {
  font-weight: 100;
  text-align: center;
}

.edit-info-line hr {
  margin: 14px 0px 50px 0px;
  /* color: transparent; */
}

.full-width {
  max-width: 100%;
  width: 100%;
}

.edit-link {
  margin-right: 10px;
}

.last-updated {
  margin-left: 10px;
  color: var(--blockquote-color);
}

#TableOfContents {
  position: fixed;
  top: 0;
  right: 40px;
  margin: 24px 0;
  overflow: auto;
}

#TableOfContents > ul {
  padding-left: 18px !important;
  margin: 0;
}

#TableOfContents p {
  display: inline-block;
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;

  /* opacity: 0; */
  cursor: pointer;
  transition: opacity 0.5s ease-in;
}

#TableOfContents:hover p {
  opacity: 1;
}

#TableOfContents ul {
  padding: 0;
  list-style: none;
}

#TableOfContents li {
  margin: 0;
}

/* #TableOfContents li p.show {
   opacity: 1;
 } */

#TableOfContents::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#TableOfContents::-webkit-scrollbar-corner {
  background: 0;
}

#TableOfContents::-webkit-scrollbar-thumb {
  background: rgba(128, 134, 139, 0.26);
  border-radius: 8px;
}

#TableOfContents .topUlChild,
#TableOfContents .secondaryUlChild,
#TableOfContents .thirdUlChild {
  margin-right: 5px;
  vertical-align: middle;
}

p.billibili {
  overflow: hidden;
}

iframe.billibili {
  width: 100%;
  height: 480px;
  margin-bottom: -16px;
  margin-top: -16px;
}

#fixed-button {
  position: fixed;
  right: 5px;
  bottom: calc(50px + env(safe-area-inset-bottom));
  z-index: 1000;
  padding: 0 3px;
}

#fixed-button .btn-box {
  display: block;
  margin: 10px 0;
}

#fixed-button button {
  width: 34px;
  height: 34px;
  letter-spacing: normal;
  border-radius: 50%;
}

#fixed-button a {
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  letter-spacing: normal;
  border-radius: 50%;
}

#fixed-button .writeFixed a {
  /* 不随主题改变 */
  color: #bd0d00;
}

#fixed-button .writeFixed a:hover {
  /* 不随主题改变 */
  color: #ff655b;
}

#fixed-button button .fa-svg,
#fixed-button a .fa-svg {
  display: inline-block;
  width: 13px;
  height: 32px;
  fill: currentColor;
}

.resume-basics-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 545px) {
  iframe.billibili {
    --width: calc(100vw - 50px);

    height: calc(var(--width) / 1.75);
    margin: 0;
  }
}

/* 伪类，伪元素 */
:target {
  padding-top: max(0, env(safe-area-inset-top));
  margin-top: 0;
}

/* 移动端与 PC 端适配 */
@media screen and (min-width: 1220px) {
  .masthead {
    position: sticky;
    top: 0;
  }
}

/* 侧边目录 */
@media screen and (max-width: 1250px) {
  #TableOfContents {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
  .paramount {
    width: auto;
    max-width: 700px;
    padding-top: 0;
    padding-bottom: calc(54px + env(safe-area-inset-bottom));
  }

  .masthead {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    float: none;
    width: 100%;
    padding: 0;
    padding-bottom: env(safe-area-inset-bottom);
    margin: 0;
    text-align: center;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);

    /* transition: all .5s ease; */
  }

  .main {
    width: auto;
    min-height: auto;
    padding: 40px 45px 10px;
    padding-top: max(40px, env(safe-area-inset-top));
    margin-left: 0;
    border: none;
  }

  .masthead .menu {
    max-width: inherit;
    margin: auto;
    direction: ltr;
  }

  .masthead .menu ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .masthead .menu li {
    display: inline-block;
    padding: 5px 0;
    margin: 0;
    margin-top: 5px;
    list-style: none;
    border: none;
  }

  .masthead .menu li:first-child {
    display: inline-block;
    margin-top: 5px;
    border: none;
  }

  .masthead .menu a,
  .masthead .menu li li:last-child {
    border-bottom: none;
  }

  .masthead .menu a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .masthead .menu li li a {
    padding-left: 30px;
  }

  .masthead .menu a:hover {
    border-bottom: none !important;
  }

  .masthead .menu li li::before {
    content: none;
  }

  .masthead .menu li li a::before {
    content: "•\00a0\00a0\00a0";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em auto 1.5em;
  }

  .title h2,
  .title h3 {
    margin: 1.5em auto;
  }

  .main .title h1 {
    margin: 1em auto 0;
  }

  .title hr {
    margin: 2em auto;
  }

  .masthead .menu button {
    padding: 5px 10px;
    line-height: 28.5px;
    border-radius: 5px;
  }

  .masthead .menu .menu-extra {
    display: none;
  }
}

.print-page-break {
  display: none;
}

/* 媒体 */
