**/cache
**/dist
**/node_modules
**/site/public/fontSource
**/site/public/pageFontSources.json
**/.temp
.pagefind-dev-*
routes.json
**/.pagefind-dev-fonts-*
**/composables/version-svg.ts
.playwright-mcp/